<div class="page">
  <header class="app-header">
    <h1 class="app-header__title">Name Origin Predictions</h1>
    <p class="app-header__description">
      This website is your go-to destination for discovering the fascinating origins of names from around the world.
      With our innovative prediction system, we provide you insights into the likely country of origin for any given name. Enjoy!
      For more info click
      <a href="https://nationalize.io/"
         target="_blank">
        here</a>.
    </p>
  </header>
  <app-countries-list
    class="countries-data">
  </app-countries-list>
</div>
