<div class="items-container"
     *ngIf="isDataFetchSuccess">
  <div class="countries-item"
       *ngFor="let item of nationalizeData; let i = index; trackBy: nationalizeTrack">
    <div class="countries-item__title">
      {{item.name}}
    </div>
    <ul class="country-list">
      <ng-container *ngFor="let country of item.country; let i = index; trackBy: countryTrack">
        <li class="country-list__country">
          <span>{{country.country_id | countryName}}</span>
          <span>{{country.probability | probabilityPercentage}}</span>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
<div class="error-container"
     *ngIf="!isDataFetchSuccess">
  <h1>An error has occurred</h1>
  <p class="error-container__error">{{errorMessage}}</p>
</div>
